footer{
  background-color: #000;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  position: relative;
  .footer-logo{
    background-image: url(../img/skill-bg1.png);
    background-repeat: no-repeat;
    height: 150px;
    width: 200px;
    background-position: center;
    background-size: contain;
    margin-top: 50px;
  }
  .copy{
    position: absolute;
    font-size: 14px;
    color: #fff;
    bottom: 20px;
  }
}
@media(max-width: 569px){
  footer{
    height: 200px;
    .footer-logo{
      height: 130px;
      width: 150px;
      margin-top: 25px;
    }
    .copy{
      font-size: 10px;
      bottom: 10px;
    }
  }
}
